input #wp-block-search__input-1 .wp-block-search__input {
	/* Font & Text */
	font-family: Fredoka;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 26px;
	text-decoration: none solid rgb(255, 246, 3);
	text-align: start;
	text-indent: 0px;
	text-transform: lowercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 246, 3);

	/* Box */
	height: 35px;
	width: 739.552px;
	border: 0.666667px solid rgba(255, 246, 3, 0.2);
	border-top: 0.666667px solid rgba(255, 246, 3, 0.2);
	border-right: 0.666667px solid rgba(255, 246, 3, 0.2);
	border-bottom: 0.666667px solid rgba(255, 246, 3, 0.2);
	border-left: 0.666667px solid rgba(255, 246, 3, 0.2);
	margin: 0px;
	padding: 5px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: 30px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: text;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all;
	outline: rgb(255, 0, 0) dashed 0.666667px;
	outline-offset: 0px;
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}